.conteneir{
    height: 1000%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    color: brown;
}